:root {
  font-family: system-ui, 'Segoe UI', Roboto, sans-serif;
  color: #08060d;
  background: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}
